name: Pull Request Checks

on:
- pull_request
- merge_group

concurrency:
  # Only allow one run at a time of this workflow per PR
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4.0.0
      with:
        python-version: "3.13"
    - name: Install tox
      run: python -m pip install tox
    - name: Run linting checks
      run: tox -e lint
    - name: Run formatting checks
      run: tox -e format
    - name: Run type checks
      run: tox -e typecheck
    - name: Run docstring checks
      run: tox -e docstrings

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:

        os: [ubuntu-latest, macos-latest]
        python:
        - version: "3.13"
          toxenv: "py313"
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4.0.0
      with:
        python-version: ${{ matrix.python.version }}
    - name: Install tox
      run: python -m pip install tox
    - name: Run pytest
      run: tox -e ${{ matrix.python.toxenv }} -- --randomly-seed=$RANDOM
